body {
    font-family: Arial, sans-serif;
    background-color: #f1e6e1;
    color: #333;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #ddd;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 8px;
}

hr {
    border-bottom: 6px dashed #ff97c6;
    border-top: none;
    border-left: none;
    border-right: none;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    margin: 20px 0;
}

.two-columns section {
    flex: 1; 
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.two-columns table {
    width: 100%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: white;
}


#intro {
    text-align: center;
}

#intro img {
    max-width: 50%;
}

#data, #nicknames, #covers, #original_songs, #gallery, #about {
    text-align: center;
}